- name: Create registry directory
  become: true
  file:
    path: "{{ registry_working_directory }}"
    state: directory
    mode: '775'
  notify: restart registry

- name: Create registry config directory
  become: true
  file:
    path: "{{ registry_working_directory }}/config-server"
    state: directory
    mode: '755'
  notify: restart registry

- name: Download jhipster v{{ registry_version }}
  become: true
  get_url:
    url: "https://github.com/jhipster/jhipster-registry/releases/download/v{{ registry_version }}/jhipster-registry-{{ registry_version }}.jar"
    dest: "{{ registry_working_directory }}/registry.jar"
    mode: '644'
  notify: restart registry

- name: Set permissions for registry directory
  become: true
  file:
    path: "{{ registry_working_directory }}"
    state: directory
    recurse: yes
    owner: "{{ artemis_user_name }}"
    group: "{{ artemis_user_group }}"
  notify: restart registry

- name: Copy registry.service systemd configuration
  become: true
  template:
    src: registry_registry.service.j2
    dest: "/etc/systemd/system/registry.service"
    mode: "644"
  notify: restart registry

- name: Enable registry service
  become: true
  systemd:
    daemon_reload: yes
    name: registry
    enabled: yes
    masked: no
  notify: restart registry

- name: Copy application-prod.yml
  become: true
  template:
    src: registry_application-prod.yml.j2
    dest: "{{ registry_working_directory }}/application-prod.yml"
    owner: "{{ artemis_user_name }}"
    group: "{{ artemis_user_group }}"
    mode: "644"
  notify: restart registry

- name: Copy bootstrap-prod.yml
  become: true
  template:
    src: registry_bootstrap-prod.yml.j2
    dest: "{{ registry_working_directory }}/bootstrap-prod.yml"
    owner: "{{ artemis_user_name }}"
    group: "{{ artemis_user_group }}"
    mode: "644"
  notify: restart registry

- name: Copy application.yml
  become: true
  template:
    src: registry_application.yml.j2
    dest: "{{ registry_working_directory }}/config-server/application.yml"
    owner: "{{ artemis_user_name }}"
    group: "{{ artemis_user_group }}"
    mode: "644"
  notify: restart registry
