SPRING_PROFILES_ACTIVE: '{{ artemis_spring_profiles }}'
_JAVA_OPTIONS: '-Xmx3g -Xms1g'

SPRING_DATASOURCE_TYPE='com.zaxxer.hikari.HikariDataSource'
SPRING_DATASOURCE_URL='jdbc:{{ artemis_database_type }}://{{ artemis_database_host }}:{{ artemis_database_port }}/{{ artemis_database_dbname }}?createDatabaseIfNotExist=true&useUnicode=true&characterEncoding=utf8&allowPublicKeyRetrieval=true&useSSL=false&useLegacyDatetimeCode=false&serverTimezone=UTC'
SPRING_DATASOURCE_USERNAME='{{ artemis_database_username }}'
SPRING_DATASOURCE_PASSWORD='{{ artemis_database_password }}'
SPRING_DATASOURCE_HIKARI_POOLNAME='Hikari'
SPRING_DATASOURCE_HIKARI_AUTOCOMMIT='false'
SPRING_DATASOURCE_HIKARI_MAXIMUMPOOLSIZE='100'
SPRING_DATASOURCE_HIKARI_DATASOURCEPROPERTIES_CACHEPREPSTMTS='true'
SPRING_DATASOURCE_HIKARI_DATASOURCEPROPERTIES_PREPSTMTCACHESIZE='250'
SPRING_DATASOURCE_HIKARI_DATASOURCEPROPERTIES_PREPSTMTCACHESQLLIMIT='2048'
SPRING_DATASOURCE_HIKARI_DATASOURCEPROPERTIES_USESERVERPREPSTMTS='true'
SPRING_JPA_HIBERNATE_CONNECTION_CHARSET='{{ artemis_database_encoding }}'
SPRING_JPA_HIBERNATE_CONNECTION_CHARACTERENCODING='{{ artemis_database_encoding }}'
SPRING_JPA_HIBERNATE_CONNECTION_USEUNICODE='true'
{% if is_multinode_install and broker is defined %}
SPRING_WEBSOCKET_BROKER_USERNAME='{{ broker.username }}'
SPRING_WEBSOCKET_BROKER_PASSWORD='{{ broker.password }}'
SPRING_WEBSOCKET_BROKER_ADDRESSES='{{ broker.url }}:61613'
{% endif %}
{% if is_multinode_install and hazelcast_address is defined %}
SPRING_HAZELCAST_INTERFACE='{{ hazelcast_address }}'
{% endif %}
{% if shared_monitoring_host_v4 is not none %}
SPRING_PROMETHEUS_MONITORINGIP='{{ shared_monitoring_host_v4 }}'
{% endif %}
{% if mail is defined and mail is not none %}
SPRING_MAIL_HOST='{{ mail.hostname }}'
SPRING_MAIL_PORT='{{ mail.port }}'
SPRING_MAIL_USERNAME='{{ mail.username }}'
SPRING_MAIL_PASSWORD='{{ mail.password }}'
SPRING_MAIL_PROTOCOL='{{ mail.protocol }}'
SPRING_MAIL_TLS='true'
SPRING_MAIL_PROPERTIES_MAIL_SMTP_AUTH='true'
SPRING_MAIL_PROPERTIES_MAIL_SMTP_STARTTLS_ENABLE='true'
SPRING_MAIL_PROPERTIES_MAIL_SMTP_SSL_TRUST='{{ mail.ssl_trust }}'
{% endif %}
SERVER_PORT='{{ artemis_server_port }}'
SERVER_URL='{{ artemis_server_url }}'
SERVER_USEFORWARDHEADERS='true'
SERVER_TOMCAT_REMOTEIP_INTERNALPROXIES='10\.\d{1,3}\.\d{1,3}\.\d{1,3}|192\.168\.\d{1,3}\.\d{1,3}|169\.254\.\d{1,3}\.\d{1,3}|127\.\d{1,3}\.\d{1,3}\.\d{1,3}|172\.1[6-9]{1}\.\d{1,3}\.\d{1,3}|172\.2[0-9]{1}\.\d{1,3}\.\d{1,3}|172\.3[0-1]{1}\.\d{1,3}\.\d{1,3}|0:0:0:0:0:0:0:1|::1|fcfe::f:1|fcfe:0:0:0:0:0:f:1'
ARTEMIS_COURSEARCHIVESPATH='{{ artemis_repo_basepath }}/course-archives'
ARTEMIS_REPOCLONEPATH='{{ artemis_repo_basepath }}/repos'
ARTEMIS_REPODOWNLOADCLONEPATH='{{ artemis_repo_basepath }}/repos-download'
ARTEMIS_FILEUPLOADPATH='{{ artemis_repo_basepath }}/uploads'
ARTEMIS_SUBMISSIONEXPORTPATH='{{ artemis_repo_basepath }}/exports'
{% if artemis_tmp_directory is defined and artemis_tmp_directory is not none and artemis_tmp_directory != "" %}
ARTEMIS_TEMPPATH='{{ artemis_tmp_directory }}'
{% endif %}
ARTEMIS_LEGALPATH='{{ artemis_legal_path }}'
ARTEMIS_DATAEXPORTPATH='{{ artemis_data_export_path }}'
ARTEMIS_BCRYPTSALTROUNDS='{{ artemis_bcrypt_salt_rounds }}'
{% if tum_live_base_url is defined and tum_live_base_url is not none %}
ARTEMIS_TUMLIVE_APIBASEURL='{{ tum_live_base_url }}'
{% endif %}
{% if push_notification_relay is defined and push_notification_relay is not none %}
ARTEMIS_PUSHNOTIFICATIONRELAY='{{ push_notification_relay }}'
{% endif %}
ARTEMIS_USERMANAGEMENT_USEEXTERNAL='false'
{% if artemis_passkey_enabled %}
ARTEMIS_USERMANAGEMENT_PASSKEY_ENABLED='true'
{% endif %}
{% if artemis_external_password_provider is defined and artemis_external_password_provider is not none %}
ARTEMIS_USERMANAGEMENT_PASSWORDRESET_CREDENTIALPROVIDER='{{ artemis_external_password_provider }}'
ARTEMIS_USERMANAGEMENT_PASSWORDRESET_LINKS_EN='{{ artemis_external_password_reset_link_en }}'
ARTEMIS_USERMANAGEMENT_PASSWORDRESET_LINKS_DE='{{ artemis_external_password_reset_link_de }}'
{% endif %}
{% if ldap.url is defined and ldap.user_dn is defined and ldap.base is defined and ldap.password is defined %}
ARTEMIS_USERMANAGEMENT_LDAP_URL='{{ ldap.url }}'
ARTEMIS_USERMANAGEMENT_LDAP_USERDN='{{ ldap.user_dn }}'
ARTEMIS_USERMANAGEMENT_LDAP_BASE='{{ ldap.base }}'
ARTEMIS_USERMANAGEMENT_LDAP_PASSWORD='{{ ldap.password }}'
ARTEMIS_USERMANAGEMENT_LDAP_ALLOWEDUSERNAMEPATTERN='^([a-z]{2}\d{2}[a-z]{3})$'
{% endif %}
ARTEMIS_USERMANAGEMENT_INTERNALADMIN_USERNAME='{{ artemis_internal_admin_user }}'
ARTEMIS_USERMANAGEMENT_INTERNALADMIN_PASSWORD='{{ artemis_internal_admin_password }}'
{% if user_management.registration is defined %}
ARTEMIS_USERMANAGEMENT_REGISTRATION_ENABLED='true'
ARTEMIS_USERMANAGEMENT_REGISTRATION_ALLOWEDEMAILPATTERN='{{ user_management.registration.allowed_email_pattern }}'
ARTEMIS_USERMANAGEMENT_REGISTRATION_ALLOWEDEMAILPATTERNREADABLE='{{ user_management.registration.allowed_email_pattern_readable }}'
ARTEMIS_USERMANAGEMENT_REGISTRATION_CLEANUPTIMEMINUTES='{{ user_management.registration.cleanup_time_minutes }}'
{% endif %}
{% if sharing is defined %}
ARTEMIS_SHARING_SERVERURL='{{ sharing.url }}'
ARTEMIS_SHARING_APIKEY='{{ sharing.apikey }}'
ARTEMIS_SHARING_ACTIONNAME='{{ sharing.actionname }}'
{% endif %}
{% if continuous_integration.jenkins is defined %}
ARTEMIS_CONTINUOUSINTEGRATION_URL='{{ continuous_integration.jenkins.url }}'
ARTEMIS_CONTINUOUSINTEGRATION_USER='{{ continuous_integration.jenkins.user }}'
ARTEMIS_CONTINUOUSINTEGRATION_PASSWORD='{{ continuous_integration.jenkins.password }}'
ARTEMIS_CONTINUOUSINTEGRATION_EMPTYCOMMITNECESSARY='false'
ARTEMIS_CONTINUOUSINTEGRATION_SECRETPUSHTOKEN='{{ continuous_integration.jenkins.secret_push_token }}'
ARTEMIS_CONTINUOUSINTEGRATION_VCSCREDENTIALS='{{ continuous_integration.jenkins.vcs_credentials }}'
ARTEMIS_CONTINUOUSINTEGRATION_ARTEMISAUTHENTICATIONTOKENKEY='{{ continuous_integration.jenkins.artemis_auth_token_key }}'
ARTEMIS_CONTINUOUSINTEGRATION_ARTEMISAUTHENTICATIONTOKENVALUE='{{ continuous_integration.jenkins.artemis_auth_token_value }}'
{% endif %}
{% if version_control.localvc is defined %}
ARTEMIS_VERSIONCONTROL_URL='{{ version_control.localvc.url }}'
ARTEMIS_VERSIONCONTROL_LOCALVCSREPOPATH='{{ artemis_repo_basepath }}/local-vcs-repos'
{% if version_control.localvc.use_version_control_access_token is defined %}
ARTEMIS_VERSIONCONTROL_USEVERSIONCONTROLACCESSTOKEN='{{ version_control.localvc.use_version_control_access_token | lower }}'
{% endif %}
{% if artemis_computed_is_core_node or (version_control.localvc.build_agent_git_credentials is not defined and version_control.localvc.build_agent_use_ssh is not defined) %}
ARTEMIS_VERSIONCONTROL_USER='{{ artemis_internal_admin_user }}'
ARTEMIS_VERSIONCONTROL_PASSWORD='{{ artemis_internal_admin_password }}'
{% endif %}
{% if version_control.localvc.build_agent_git_credentials is defined %}
ARTEMIS_VERSIONCONTROL_BUILDAGENTGITUSERNAME='{{ version_control.localvc.build_agent_git_credentials.user }}'
ARTEMIS_VERSIONCONTROL_BUILDAGENTGITPASSWORD='{{ version_control.localvc.build_agent_git_credentials.password }}'
{% endif %}
{% if version_control.localvc.build_agent_use_ssh is defined %}
ARTEMIS_VERSIONCONTROL_BUILDAGENTUSESSH='{{ version_control.localvc.build_agent_use_ssh | string | lower }}'
{% if continuous_integration.localci.is_build_agent is defined and continuous_integration.localci.is_build_agent is not none and continuous_integration.localci.is_build_agent and artemis_ssh_key_path is defined and artemis_ssh_key_path is not none and artemis_ssh_key_path != "" %}
ARTEMIS_VERSIONCONTROL_SSHPRIVATEKEYFOLDERPATH='{{ artemis_ssh_key_path }}'
{% endif %}
{% endif %}
{% if version_control.localvc.ssh_key_path is defined and version_control.localvc.ssh_key_path|length > 0 %}
ARTEMIS_VERSIONCONTROL_SSHHOSTKEYPATH='{{ artemis_repo_basepath }}/ssh-keys'
{% endif %}
{% if version_control.localvc.ssh_url is defined %}
ARTEMIS_VERSIONCONTROL_SSHTEMPLATECLONEURL='{{ version_control.localvc.ssh_url }}'
{% endif %}
{% endif %}
{% if continuous_integration.localci is defined %}
ARTEMIS_CONTINUOUSINTEGRATION_ARTEMISAUTHENTICATIONTOKENVALUE='demo'
ARTEMIS_CONTINUOUSINTEGRATION_DOCKERCONNECTIONURI='unix:///var/run/docker.sock'
ARTEMIS_CONTINUOUSINTEGRATION_SPECIFYCONCURRENTBUILDS='{{ (continuous_integration.localci.concurrent_build_size is defined) | lower }}'
{% if continuous_integration.localci.concurrent_build_size is defined %}
ARTEMIS_CONTINUOUSINTEGRATION_CONCURRENTBUILDSIZE='{{ continuous_integration.localci.concurrent_build_size }}'
{% endif %}
ARTEMIS_CONTINUOUSINTEGRATION_SPECIFYTHREADPOOLSIZE='{{ (continuous_integration.localci.thread_pool_size is defined) | lower }}'
{% if continuous_integration.localci.thread_pool_size is defined %}
ARTEMIS_CONTINUOUSINTEGRATION_THREADPOOLSIZE='{{ continuous_integration.localci.thread_pool_size }}'
{% endif %}
{% if continuous_integration.localci.proxy is defined %}
ARTEMIS_CONTINUOUSINTEGRATION_PROXIES_USESYSTEMPROXY='true'
ARTEMIS_CONTINUOUSINTEGRATION_PROXIES_DEFAULT_HTTPPROXY='{{ continuous_integration.localci.proxy.http_proxy }}'
ARTEMIS_CONTINUOUSINTEGRATION_PROXIES_DEFAULT_HTTPSPROXY='{{ continuous_integration.localci.proxy.https_proxy }}'
ARTEMIS_CONTINUOUSINTEGRATION_PROXIES_DEFAULT_NOPROXY='{{ continuous_integration.localci.proxy.no_proxy }}'
{% endif %}
{% if continuous_integration.localci.image_cleanup is defined %}
ARTEMIS_CONTINUOUSINTEGRATION_IMAGECLEANUP_ENABLED='true'
ARTEMIS_CONTINUOUSINTEGRATION_IMAGECLEANUP_EXPIRYDAYS='{{ continuous_integration.localci.image_cleanup.expiry_days }}'
ARTEMIS_CONTINUOUSINTEGRATION_IMAGECLEANUP_CLEANUPSCHEDULETIME='{{ continuous_integration.localci.image_cleanup.schedule_time }}'
{% endif %}
ARTEMIS_CONTINUOUSINTEGRATION_BUILDAGENT_SHORTNAME='{{ node_short_name }}'
ARTEMIS_CONTINUOUSINTEGRATION_BUILDAGENT_DISPLAYNAME='{{ node_display_name }}'
{% endif %}
{% if continuous_integration.gitlabci is defined %}
ARTEMIS_CONTINUOUSINTEGRATION_BUILDTIMEOUT=30
ARTEMIS_CONTINUOUSINTEGRATION_ARTEMISAUTHENTICATIONTOKENVALUE={{ continuous_integration.gitlabci.result_token }}
ARTEMIS_CONTINUOUSINTEGRATION_NOTIFICATIONPLUGIN: "ls1tum/artemis-notification-plugin:1.0.0"
{% endif %}
ARTEMIS_USERMANAGEMENT_LOGIN_ACCOUNTNAME='{{ artemis_account_login_info }}'
{% if lti is defined %}
ARTEMIS_LTI_ID='artemis_lti'
ARTEMIS_LTI_OAUTHKEY='artemis_lti_key'
ARTEMIS_LTI_OAUTHSECRET='{{ lti.oauth_secret }}'
ARTEMIS_LTI_USERPREFIXEDX='edx_'
ARTEMIS_LTI_USERPREFIXU4I='u4i_'
ARTEMIS_LTI_USERGROUPNAMEEDX='edx'
ARTEMIS_LTI_USERGROUPNAMEU4I='u4i'
{% endif %}
ARTEMIS_GIT_NAME='artemis'
ARTEMIS_GIT_EMAIL='{{ artemis_email }}'
{% if athena is defined %}
ARTEMIS_ATHENA_URL='{{ athena.url }}'
ARTEMIS_ATHENA_SECRET='{{ athena.secret }}'
{% endif %}
{% if apollon_url is defined %}
ARTEMIS_APOLLON_CONVERSIONSERVICEURL='{{ apollon_url }}'
{% endif %}
{% if spring_ai is defined and spring_ai.azure_openai is defined %}
SPRING_AI_AZURE_OPENAI_API_KEY='{{ spring_ai.azure_openai.api_key }}'
SPRING_AI_AZURE_OPENAI_ENDPOINT='{{ spring_ai.azure_openai.endpoint }}'
SPRING_AI_AZURE_OPENAI_CHAT_OPTIONS_DEPLOYMENT_NAME='{{ spring_ai.azure_openai.deployment_name }}'
SPRING_AI_AZURE_OPENAI_CHAT_OPTIONS_TEMPERATURE='{{ spring_ai.azure_openai.temperature | default(1.0) }}'
{% endif %}
{% if iris is defined and iris is not none %}
ARTEMIS_IRIS_URL='{{ iris.url }}'
ARTEMIS_IRIS_SECRETTOKEN='{{ iris.secret }}'
{% endif %}
{% if nebula is defined and nebula is not none %}
ARTEMIS_NEBULA_ENABLED='true'
ARTEMIS_NEBULA_URL='{{ nebula.url }}'
ARTEMIS_NEBULA_SECRETTOKEN='{{ nebula.secret }}'
{% endif %}
{% if enable_science_event_logging is defined %}
ARTEMIS_SCIENCE_EVENTLOGGING_ENABLE='{{ enable_science_event_logging | lower }}'
{% endif %}
ARTEMIS_HYPERION_ENABLED='{{ artemis_hyperion_enabled | lower }}'
ARTEMIS_TELEMETRY_ENABLED='{{ artemis_telemetry_enabled | lower }}'
ARTEMIS_TELEMETRY_SENDADMINDETAILS='{{ artemis_send_admin_details | lower }}'
ARTEMIS_TELEMETRY_DESTINATION='{{ artemis_telemetry_destination }}'
{% if licenses is defined and licenses is not none %}
{% if licenses.matlab is defined and licenses.matlab is not none %}
ARTEMIS_LICENSES_MATLAB_LICENSESERVER='{{ licenses.matlab }}'
{% endif %}
{% endif %}
{% if theia is defined and theia is not none %}
{% if theia.portal_url is defined and theia.portal_url is not none %}
THEIA_PORTALURL='{{ theia.portal_url }}'
{% endif %}
{% if theia.images is defined and theia.images is not none %}
{% for programming_language_key, programming_language_value in theia.images.items() %}
{% for image_key, image_value in programming_language_value.items() %}
THEIA_IMAGES_{{ programming_language_key | upper | regex_replace ("[^A-Z0-9]","") }}_{{ image_key | upper | regex_replace ("[^A-Z0-9]","") }}='{{ image_value }}'
{% endfor %}
{% endfor %}
{% endif %}
{% endif %}
{% if aeolus.url is defined and aeolus.url is not none %}
AEOLUS_URL='{{ aeolus.url }}'
{% if aeolus.token is defined and aeolus.token is not none %}
AEOLUS_TOKEN='{{ aeolus.token }}'
{% endif %}
{% endif %}
ARTEMIS_SCHEDULING_DATAEXPORTCREATIONTIME = '{{ artemis_scheduling_data_export_creation_time }}'
ARTEMIS_SCHEDULING_PROGRAMMINGEXERCISESCLEANUPTIME = '{{ artemis_scheduling_programming_exercises_cleanup_time }}'
ARTEMIS_SCHEDULING_CONTINUOUSPLAGIARISMCONTROLTRIGGERTIME = '{{ artemis_scheduling_continuous_plagiarism_control_trigger_time }}'
ARTEMIS_DATAEXPORT_DAYSBETWEENDATAEXPORTS = '{{ artemis_data_export_days_between_data_exports }}'
ARTEMIS_PLAGIARISMCHECKS_PLAGIARISMRESULTSLIMIT = '{{ artemis_plagiarism_checks_plagiarism_results_limit }}'
{% if artemis_jhipster_jwt is not none %}
JHIPSTER_SECURITY_AUTHENTICATION_JWT_BASE64SECRET='{{ artemis_jhipster_jwt }}'
JHIPSTER_SECURITY_AUTHENTICATION_JWT_TOKENVALIDITYINSECONDS='259200'
JHIPSTER_SECURITY_AUTHENTICATION_JWT_TOKENVALIDITYINSECONDSFORREMEMBERME='2592000'
{% endif %}
{% if artemis_CORS_allowed_origins is defined and artemis_CORS_allowed_origins is not none %}
JHIPSTER_CORS_ALLOWEDORIGINS='{{ artemis_CORS_allowed_origins }}'
{% endif %}
{% if is_multinode_install|bool == true and artemis_jhipster_registry_password is not none  %}
JHIPSTER_REGISTRY_PASSWORD='{{ artemis_jhipster_registry_password }}'
{% endif %}
JHIPSTER_MAIL_BASEURL='{{ artemis_server_url }}'
JHIPSTER_MAIL_FROM='{{artemis_notification_from}} <{{ artemis_email.split('@')[0] }}+notification@{{ artemis_email.split('@')[1] }}>'
INFO_OPERATORNAME='{{ artemis_operator_name }}'
INFO_OPERATORADMINNAME='{{ artemis_operator_admin_name }}'
INFO_CONTACT='{{ artemis_email }}'
{% if is_testserver is defined and is_testserver is sameas true %}
INFO_TESTSERVER='true'
{% endif %}
{% if is_testserver is defined and is_testserver is sameas false %}
INFO_TESTSERVER='false'
{% endif %}
INFO_TEXTASSESSMENTANALYTICSENABLED='true'
INFO_SENTRY_DSN='https://e52d0b9b6b61769f50b088634b4bc781@sentry.ase.in.tum.de/2'
{% if is_multinode_install and artemis_eureka_urls is defined and hazelcast_address is defined %}
EUREKA_CLIENT_ENABLED='true'
EUREKA_CLIENT_SERVICEURL_DEFAULTZONE='{{ artemis_eureka_urls }}'
EUREKA_INSTANCE_PREFERIPADDRESS='true'
{% if hazelcast_address is defined and hazelcast_address != "" %}
EUREKA_INSTANCE_IPADDRESS='{{ hazelcast_address }}'
{% endif %}
EUREKA_INSTANCE_APPNAME='Artemis'
{% if artemis_eureka_instance_id is defined and artemis_eureka_instance_id != "" %}
EUREKA_INSTANCE_INSTANCEID='Artemis:{{ artemis_eureka_instance_id }}'
{% endif %}
{% endif %}
LOGGING_FILE_NAME='{{ artemis_working_directory }}/artemis.log'
MANAGEMENT_PROMETHEUS_METRICS_EXPORT_ENABLED='true'
{% if not is_multinode_install %}
{% if helios is defined %}
HELIOS_STATUS_ENABLED='true'
HELIOS_STATUS_ENVIRONMENTNAME='{{ helios.environment_name }}'
{% for endpoint in helios.endpoints %}
HELIOS_STATUS_ENDPOINTS_{{ loop.index - 1 }}_URL='{{ endpoint.url }}'
HELIOS_STATUS_ENDPOINTS_{{ loop.index - 1 }}_SECRETKEY='{{ endpoint.secret_key }}'
{% endfor %}
{% endif %}
{% endif %}
