ARTEMIS_DOCKER_TAG='{{ artemis_build_version }}'
ARTEMIS_SSH_KEY_PATH='{{ artemis_ssh_key_path }}'

ARTEMIS_ENV_FILE='{{ artemis_working_directory }}/artemis.env'
{% if is_multinode_install %}
{% if is_multinode_gateway_install %}
GATEWAY_ENV_FILE='{{ artemis_working_directory }}/gateway.env'
{% endif %}
{% for node_id in range(1, artemis_node_count + 1) %}
ARTEMIS_NODE_{{ node_id }}_ENV_FILE='{{ artemis_working_directory }}/node{{ node_id }}.env'
{% endfor %}
{% endif %}

ARTEMIS_VOLUME_MOUNT='{{ artemis_working_directory }}/data/artemis'
ARTEMIS_LEGAL_MOUNT='{{ artemis_working_directory }}/legal'
ARTEMIS_DATA_EXPORT_MOUNT='{{ artemis_working_directory }}/data-exports'

DATABASE_ENV_FILE='{{ artemis_working_directory }}/database.env'
DATABASE_VOLUME_MOUNT='{{ artemis_working_directory }}/data/database'

# Broker & Registry vars
{% if is_multinode_install %}
REGISTRY_PASSWORD='{{ artemis_jhipster_registry_password }}'
BROKER_USER='{{ broker.username }}'
BROKER_PASSWORD='{{ broker.password }}'
{% endif %}

# Nginx vars
NGINX_PROXY_SSL_CERTIFICATE_PATH='{{ proxy_ssl_certificate_path }}'
NGINX_PROXY_SSL_CERTIFICATE_KEY_PATH='{{ proxy_ssl_certificate_key_path }}'
