ARTEMIS_DOCKER_TAG='{{ artemis_build_version }}'
ARTEMIS_SSH_KEY_PATH='{{ artemis_ssh_key_path }}'
ARTEMIS_ENV_FILE='{{ artemis_working_directory }}/artemis.env'
ARTEMIS_VOLUME_MOUNT='{{ artemis_working_directory }}/data/artemis'

DATABASE_ENV_FILE='{{ artemis_working_directory }}/database.env'
DATABASE_VOLUME_MOUNT='{{ artemis_working_directory }}/data/database'

# Nginx vars
NGINX_PROXY_SSL_CERTIFICATE_PATH='{{ proxy_ssl_certificate_path }}'
NGINX_PROXY_SSL_CERTIFICATE_KEY_PATH='{{ proxy_ssl_certificate_key_path }}'
