---
# Check if variables are set correctly
- include_tasks: variable_checks.yml
  when: (setup_system | bool) or (update_artemis_config | bool)

- include_tasks: node_checks.yml
  when:
    - continuous_integration.localci is defined
    - is_build_agent is defined and (is_build_agent | bool)
    - (setup_system | bool) or (update_artemis_config | bool)

# Create Artemis and (if desired) deployment users.
- include_tasks: users.yml
  when:
    - setup_system | bool

# Install JDK
- include_tasks: jdk.yml
  when:
    - not (use_docker | bool)
    - setup_system | bool

# Install other dependencies and setup host
- include_tasks: artemis_setup.yml
  when:
    - not (use_docker | bool)
    - setup_system | bool

# Configure Artemis application
- include_tasks: artemis_config.yml
  when:
    - not (use_docker | bool)
    - update_artemis_config | bool

# Install Artemis to the host using Docker
- include_tasks: docker_deploy_artemis.yml
  when:
    - (use_docker | bool)

# Restart Artemis
- include_tasks: restart_artemis.yml
  when:
    - not (use_docker | bool)
    - restart_artemis | bool
