ansible==13.4.0
ansible-compat==25.12.1
ansible-core==2.20.3
ansible-lint==26.3.0
attrs==25.4.0
black==26.1.0
bracex==2.6
cffi==2.0.0
click==8.3.1
cryptography==46.0.5
distro==1.9.0
filelock==3.25.0
Jinja2==3.1.6
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
MarkupSafe==3.0.3
mypy_extensions==1.1.0
packaging==26.0
pathspec==1.0.4
platformdirs==4.9.2
pycparser==3.0
pytokens==0.4.1
PyYAML==6.0.3
referencing==0.37.0
resolvelib==1.2.1
rpds-py==0.30.0
ruamel.yaml==0.19.1
ruamel.yaml.clib==0.2.15
subprocess-tee==0.4.2
wcmatch==10.1
yamllint==1.38.0
