{{ ansible_managed | comment }}

proxy_send_timeout {{ proxy_send_timeout }};
proxy_read_timeout {{ proxy_read_timeout }};
fastcgi_send_timeout {{ fastcgi_send_timeout }};
fastcgi_read_timeout {{ fastcgi_read_timeout }};
