{{ ansible_managed | comment }}

# Load balancing
upstream artemis {
{% if proxy_load_balancing_method is defined %}
    {{ proxy_load_balancing_method }};
{% endif %}
{% for node in proxy_available_nodes %}
    server {{ node.hostname }}{% if proxy_node_port is defined %}:{{ proxy_node_port }}{% endif %}{% if node.weight is defined %} weight={{ node.weight }}{% endif %};
{% endfor %}
}

# rate limit for the login REST call, at most 2 requests per second
limit_req_zone $binary_remote_addr zone=loginlimit:10m rate=5r/s;

server {
    listen 80 default_server;
    listen [::]:80 default_server;
    server_name _;
 
    return 301 https://$host$request_uri;
}

server {
    listen 443 ssl http2;
    listen [::]:443 ssl http2;
    server_name _;
    ssl_certificate     {{ proxy_ssl_certificate_path }};
    ssl_certificate_key {{ proxy_ssl_certificate_key_path }};
    ssl_protocols       TLSv1.2 TLSv1.3;
    ssl_dhparam /etc/nginx/dhparam.pem;
    ssl_prefer_server_ciphers   on;
    ssl_ciphers 'ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-SHA384:ECDHE-RSA-AES256-SHA384:ECDHE-ECDSA-AES128-SHA256:ECDHE-RSA-AES128-SHA256';
    ssl_ecdh_curve secp384r1;
    ssl_session_timeout  10m;
    ssl_session_cache shared:SSL:10m;
    ssl_session_tickets off;
    ssl_stapling on;
    ssl_stapling_verify on;
#   ssl_early_data on;
    resolver {{ proxy_resolver }};
    resolver_timeout 5s;
    add_header Strict-Transport-Security "max-age=63072000; includeSubDomains; preload";
    client_max_body_size 10m;
    client_body_buffer_size 1m;

    location / {
        proxy_pass {{ proxy_node_protocol }}://artemis;
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection 'upgrade';
        proxy_set_header Host $host;
#       proxy_set_header Early-Data $ssl_early_data;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
        proxy_cache_bypass $http_upgrade;
        proxy_send_timeout 900s;
        proxy_read_timeout 900s;
        proxy_max_temp_file_size 0;
        proxy_buffering off;
        fastcgi_send_timeout 900s;
        fastcgi_read_timeout 900s;
        client_max_body_size 128M;
    }

{% if proxy_mailto is not none %}
    location /mailto {
        default_type text/html;
        return 200 '<html><head><meta http-equiv="Refresh" content="0; url=mailto:{{ proxy_mailto }}" /></head></html>';
    }
{% endif %}

{% if proxy_athene_baseurl is not none %}
    location /athene-tracking {
        proxy_pass {{ proxy_athene_baseurl }}/tracking;
        proxy_set_header Host $host;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
    }

    location /api/athene-result/ {
        proxy_pass {{ proxy_primary_node_url }}/api/athene-result/;
        client_max_body_size 2g;
    }
{% endif %}
    
    location /api/authenticate {
        proxy_pass http://artemis/api/authenticate;
        limit_req zone=loginlimit burst=5 nodelay;
    }
    
    location /favicon.ico {
        return 404;
    }

    error_page 502 /502.html;
    location /502.html {
        root /usr/share/nginx/html;
        internal;
    }
}
