---
# handlers file for weaviate
- name: Restart docker compose weaviate
  become: true
  command: ./weaviate-docker.sh restart
  args:
    chdir: "{{ weaviate_working_directory }}"
  listen: "restart docker weaviate"

- name: Start docker compose weaviate
  become: true
  command: ./weaviate-docker.sh start
  args:
    chdir: "{{ weaviate_working_directory }}"
  listen: "start docker weaviate"

- name: Regenerate Traefik configuration
  become: true
  become_user: "{{ weaviate_user_name }}"
  command: ./generate-traefik-config.sh
  args:
    chdir: "{{ weaviate_working_directory }}"
  listen: "regenerate traefik config"
  notify: restart docker weaviate
