http:
  middlewares:
    https-redirectscheme:
      redirectScheme:
        scheme: https
        permanent: true

    default-headers:
      headers:
        frameDeny: true
        browserXssFilter: true
        contentTypeNosniff: true
        forceSTSHeader: true
        stsIncludeSubdomains: true
        stsPreload: true
        stsSeconds: 15552000
        customFrameOptionsValue: SAMEORIGIN
        customRequestHeaders:
          X-Forwarded-Proto: https

    rate-limit:
      rateLimit:
        average: 100
        period: 1s
        burst: 200

    default-whitelist:
      ipAllowList:
        sourceRange:
{{ALLOWED_IPS_YAML}}

    secured:
      chain:
        middlewares:
          - default-whitelist
          - default-headers
          - rate-limit
