# Weaviate Configuration
WEAVIATE_DOMAIN={{ weaviate_domain }}
WEAVIATE_VERSION={{ weaviate_build_version }}

# Weaviate Authentication
WEAVIATE_API_KEY={{ weaviate_api_key }}
WEAVIATE_API_USER={{ weaviate_api_user }}

# Weaviate Logging
WEAVIATE_LOG_LEVEL={{ weaviate_log_level }}

# Let's Encrypt Configuration
LETSENCRYPT_EMAIL={{ letsencrypt_email }}

# IP Whitelisting (Optional)
ALLOWED_IPS={{ weaviate_allowed_ips }}
