# Allow {{ weaviate_deployment_user_name }} to manage Weaviate services
{{ weaviate_deployment_user_name }} ALL=({{ weaviate_user_name }}) NOPASSWD: ALL
{{ weaviate_deployment_user_name }} ALL=(root) NOPASSWD: /usr/bin/docker, /usr/bin/docker-compose, /usr/local/bin/docker-compose
