{{ ansible_managed | comment }}

[Unit]
Description=Artemis Storage Mount
After=wg-quick@wg0.service

[Mount]
What=[{{ storage_server_address }}]:{{ storage_export }}
Where=/mnt/storage
Type=nfs
Options=_netdev,auto

[Install]
WantedBy=multi-user.target
