- name: Check if activemq has been installed in the current version
  become: true
  stat:
    path: /opt/activemq-distribution/apache-artemis-{{ activemq_version }}
  register: activemq_install_result

- name: Create activemq installation directory
  become: true
  file:
    path: "{{ activemq_install_directory }}"
    state: directory
    mode: '0775'
  notify: restart broker
  when: not activemq_install_result.stat.exists

- name: Download and extract activemq {{ activemq_version }}
  become: true
  unarchive:
    src: https://downloads.apache.org/activemq/activemq-artemis/{{ activemq_version }}/apache-artemis-{{ activemq_version }}-bin.tar.gz
    dest: /opt/activemq-distribution
    remote_src: yes
  notify: restart broker
  when: not activemq_install_result.stat.exists
