eureka:
    client:
      enabled: true
      service-url:
        defaultZone: "{{ gateway_eureka_urls }}"
    instance:
      appname: API-Gateway
      preferIpAddress: true
      instanceId: Gateway:1
      ip-address: "{{ gateway_url }}"

jhipster:
  security:
     authentication:
        jwt:
           base64-secret: {{ artemis_jhipster_jwt }}
           token-validity-in-seconds: 259200                   # Token is valid 3 days
           token-validity-in-seconds-for-remember-me: 2592000  # Token is valid 30 days
  registry:
    password: {{ artemis_jhipster_registry_password }}

management:
  endpoint:
     gateway:
        access: unrestricted # change to ADMIN (requires username and password)
