{{ ansible_managed | comment }}

services:
  redis:
    image: redis/redis-stack-server:{{ redis.version }}
    restart: always
    ports:
      - "6379:6379"
    volumes:
      - ./redis.conf:/usr/local/etc/redis/redis.conf
      - ./redis-data:/data
    command: [
      "redis-server",
      "/usr/local/etc/redis/redis.conf",
    ]
    healthcheck:
      test: ["CMD", "redis-cli", "-a", "{{ redis.password }}", "ping"]
      interval: 10s
      timeout: 5s
      retries: 3
