{{ ansible_managed | comment }}

requirepass {{ redis.password }}
user {{ redis.username }} on >{{ redis.password }} +@all &* ~*
user default off nopass nocommands
protected-mode yes
notify-keyspace-events lshKE
