services:
  hermes:
    image: ghcr.io/ls1intum/hermes:{{ hermes_version }}
    container_name: hermes
    ports:
      - "{{ hermes_port }}:8080"
    environment:
      - APNS_TEAM_ID={{ hermes_apns_team_id }}
      - APNS_KEY_ID={{ hermes_apns_key_id }}
      - APNS_PROD_ENVIRONMENT={{ hermes_apns_prod_environment }}
      - APNS_TOKEN_KEY_PATH=/key/artemis-apns.p8
      - GOOGLE_APPLICATION_CREDENTIALS=/firebase.json
    volumes:
      - {{ hermes_working_directory }}/{{ hermes_apns_token_key_path }}:/key/artemis-apns.p8:ro
      - {{ hermes_working_directory }}/{{ hermes_google_application_credentials_json_path }}:/firebase.json:ro
    restart: on-failure
