PYRIS_DOCKER_TAG='{{ pyris_build_version }}'
PYRIS_APPLICATION_YML_FILE='{{ pyris_working_directory }}/application.yml'
PYRIS_LLM_CONFIG_YML_FILE='{{ pyris_working_directory }}/llm_config.yml'
WEAVIATE_VOLUME_MOUNT='{{ pyris_weaviate_directory }}'

# Nginx vars
NGINX_PROXY_SSL_CERTIFICATE_PATH='{{ proxy_ssl_certificate_path }}'
NGINX_PROXY_SSL_CERTIFICATE_KEY_PATH='{{ proxy_ssl_certificate_key_path }}'
