{{ ansible_managed | comment }}

[Interface]
Address = {{ wireguard_interface_address }}/128
ListenPort = {{ wireguard_port }}
PrivateKey = {{ wireguard_privkey }}

{% for peer in wireguard_hostgroup %}

[Peer]
# {{ peer }}
{# see https://github.com/pallets/jinja/issues/623#issuecomment-265388574 regarding variable in variable magic #}
PublicKey = {{ hostvars['%s' | format(peer)].wireguard_pubkey }}
Endpoint = [{{ hostvars['%s' | format(peer)].wireguard_host_ipv6_address }}]:{{ wireguard_port }}
AllowedIPs = {{ hostvars['%s' | format(peer)].wireguard_interface_address }}/128
{% endfor %}
