name: Code Quality
# ref: https://github.com/marketplace/actions/ansible-lint

on: [push]

jobs:
  lint:

    runs-on: ubuntu-latest

    steps:
    # Important: This sets up your GITHUB_WORKSPACE environment variable
      - uses: actions/checkout@v4
      - name: Run ansible-lint
        uses: ansible/ansible-lint@39ea20ef8957633d89c45485028b68e232a8c1c2
        with:
          requirements_file: "requirements.yml"
